<div class="px-4 mx-auto max-w-screen-2xl py-2 flex justify-center sm:px-6 lg:px-8">

  <div class="w-full">
    <div class="flex justify-center">
      <h1 class="uppercase font-bold my-5 text-3xl">Edit course</h1>
    </div>

    <div class="flex justify-center">
      <div class="">

        <form [formGroup]="updateForm" class="my-2 space-y-4 h-fit border p-5 md:space-y-6 max-w-lg w-full">
          <div *ngIf="course != null">
            <img src="{{url}}course/image/{{course.id}}" alt="" class="w-full">
          </div>
          <video muted autoplay loop controls *ngIf="course != null">
            <source src="{{url}}course/video/{{course.id}}" type="video/mp4">
          </video>
          <div *ngIf='alert == "green"' class="py-1 px-2 bg-green-200 flex justify-between" role="alert">
            <div *ngFor="let message of messages">{{message}}</div>
            <button type="button" class="font-bold" data-bs-dismiss="alert" aria-label="Close"
              (click)="closeAlert()">x</button>
          </div>
          <div *ngIf='alert == "red"' class="py-1 px-2 bg-red-200 flex justify-between" role="alert">
            <div *ngFor="let message of messages">{{message}}</div>
            <button type="button" class="font-bold" data-bs-dismiss="alert" aria-label="Close"
              (click)="closeAlert()">x</button>
          </div>
          <div *ngIf="!loading">
            <div class="grid grid-cols-1 gap-4">
              <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input type="text" formControlName="name" name="name" id="name" required
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Name" required="">
                <div class="text-red-400 text-sm font-thin"
                  *ngIf="updateForm.get('name').touched && updateForm.get('name').hasError('required')">
                  <div *ngIf="updateForm.get('name').hasError('required')">
                    Name is required.
                  </div>

                </div>
              </div>
              <div>
                <label for="description"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                <input type="text" formControlName="description" name="description" id="description" required
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Description" required="">
                <div class="text-red-400 text-sm font-thin"
                  *ngIf="updateForm.get('description').touched && updateForm.get('description').hasError('required')">
                  <div *ngIf="updateForm.get('description').hasError('required')">
                    Descriptiion is required.
                  </div>

                </div>
              </div>
              <div>
                <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                <input type="number" formControlName="price" name="price" id="price" required
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Price" required="">
                <div class="text-red-400 text-sm font-thin"
                  *ngIf="updateForm.get('price').touched && updateForm.get('price').hasError('required')">
                  <div *ngIf="updateForm.get('price').hasError('required')">
                    Price is required.
                  </div>

                </div>
              </div>
              <div>
                <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Author</label>
                <input type="text" formControlName="user" name="author" id="author" required
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Author" readonly>
              </div>
              <div>
                <label for="user-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User
                  Type</label>
                <select name="user-type" id="user-type" formControlName="category"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required>
                  <option value="">Select categories</option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{ category.name }}</option>
                </select>
                <div class="text-red-400 text-sm font-thin"
                  *ngIf="updateForm.get('category').touched && updateForm.get('category').hasError('required')">
                  <div *ngIf="updateForm.get('category').hasError('required')">
                    Category is required.
                  </div>
                </div>
              </div>

            </div>
            <div class="w-full flex justify-between">
              <button [disabled]="updateForm.invalid"
                class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
                type="submit" (click)="onDelete()">
                Delete
              </button>
              <button [disabled]="updateForm.invalid"
                class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
                type="submit" (click)="onUpdate()">
                Update
              </button>
            </div>

          </div>

          <div
            class="flex justify-center gap-10 px-2 py-3 overflow-auto rounded-sm md:grid-cols-2 bg-gray1-train-me justify-items-center max-h-96"
            *ngIf="loading">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
          </div>

        </form>

        <form action="" class="my-2 space-y-4 h-fit border p-5 md:space-y-6 max-w-lg w-full">
          <label for="">Upload course image</label>
          <input type="file" (change)="catchImage($event)" multiple>
          <button class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
            (click)="uploadImage()">Upload image</button>
        </form>

        <form action="" class="my-2 space-y-4 h-fit border p-5 md:space-y-6 max-w-lg w-full">
          <label for="">Upload course file</label>
          <input type="file" (change)="catchFile($event)" multiple>
          <button class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
            (click)="uploadFile()">Upload file</button>
        </form>

        <form action="" class="my-2 space-y-4 h-fit border p-5 md:space-y-6 max-w-lg w-full">
          <label for="">Upload course video</label>
          <input type="file" (change)="catchVideo($event)" multiple>
          <button class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
            (click)="uploadVideo()">Upload video</button>
        </form>

        <form action="" class="my-2 space-y-4 h-fit border p-5 md:space-y-6 max-w-lg w-full">
          <button class=" mt-5 px-1 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-lg"
            (click)="downloadFile()">Download</button>
        </form>
      </div>
    </div>

  </div>


</div>
