<div class="max-w-screen-2xl bg-gray-100 mx-auto py-10 px-4 sm:px-6 lg:px-8">
  <div *ngIf="!loading">
    <div class="p-5 rounded-sm bg-black-train-me md:grid-cols-2 grid gap-3 items-content-center">
      <div class="flex gap-5">
        <div>
          <img *ngIf="course != null" src="{{url}}course/image/{{course.id}}" class="w-64 min-w-md" alt="">
        </div>
        <div class="text-white grid ">
          <div>
            <h4 class="font-xl mb-2 font-bold uppercase">
              {{course.name}}
            </h4>
            <h4 class="font-md my-2 font-thin">
              {{course.category.name}}
            </h4>
            <h4 class="font-md mt-2 text-red-train-me font-semibold uppercase">
              {{course.price}} €
            </h4>
          </div>
          <div >
            <button *ngIf="user == null"
              class="w-full px-2 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-4xl"
              type="submit" routerLink="/login">
              Buy!
            </button>
            <button *ngIf="user != null && !purchased && user.role.key_value != 'trainer'">
              class="w-full px-2 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-4xl"
              type="submit" (click)="buy()">
              Buy!
            </button>
            <div *ngIf="purchased">
              <button (click)="downloadFile()"
                class="w-full px-2 py-1 font-bold text-white rounded bg-green-300 hover:bg-green-500 text-4xl">
                Download</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-5 justify-end">
        <div>
          <img src="{{url}}user/image/{{course.user.id}}" *ngIf="course != null" class="w-64 min-w-md" alt="">
        </div>
        <div class="text-white grid ">
          <div>
            <h4 class="font-xl mb-2">
              {{course.user.name}}
            </h4>
            <h4 class="font-md my-2">
              {{course.user.surname}}
            </h4>
            <h4 class="font-md mt-2">
              {{course.user.email}}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded-sm bg-white flex justify-center py-3 px-5 my-3 w-full max-h-96" *ngIf="course.id != null">

      <video muted autoplay loop controls>
        <source [src]="url+'course/video/'+course.id" type="video/mp4">
      </video>
    </div>

    <div class="rounded-sm bg-white py-3 px-5 my-3">
      <div class="mx-auto text-center max-w-2xl">
        <h3 class="mb-6 text-3xl font-bold text-neutral-800 dark:text-neutral-200">
          Testimonials
        </h3>
        <p class="mb-6 pb-2 md:mb-12 md:pb-0">
          What other students turned professionals have to say about us after learning with us and reaching their
          goals.
        </p>
      </div>
      <div class="flex justify-center mb-20">

        <form [formGroup]="commentForm" *ngIf="purchased" class="w-full max-w-lg border-2 mb-2 bg-white">
          <div class="">
            <div class="">
              <textarea name="" class="outline-none w-full" formControlName="comment" id="" cols="30" rows="5"
                placeholder="Opina"></textarea>
            </div>
            <div class="flex justify-end">
              <button type="submit"
                class="px-2 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-xl"
                (click)="createReview()">Enviar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12 overflow-auto max-h-80">
        <div class="mb-12 md:mb-0 border rounded-md py-5 bg-gray-700 text-white" *ngFor="let review of reviews">
          <div class="mb-6 flex justify-center">
            <img src="{{url}}user/image/{{review.user.id}}" class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
          </div>
          <h5 class="mb-4 text-xl font-semibold">{{review.user.name}}</h5>
          <h6 class="mb-4 font-semibold text-primary dark:text-primary-500">
            {{review.review_date}}
          </h6>
          <p class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block h-7 w-7 pr-2"
              viewBox="0 0 24 24">
              <path
                d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z" />
            </svg>
            {{review.comment}}
          </p>
          <div class="" *ngIf="user != undefined">
            <button class="px-2 py-1 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-sm"
              *ngIf="review.user.id == user.id" (click)="deleteReview(review.id)">eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded-sm bg-white py-3 px-5 my-3" *ngIf="category_courses == null">
      <div class="flex justify-center">
        <h1 class="text-center font-bold text-xl">More courses with same category</h1>
      </div>
      <div class="pt-4 font-bold overflow-auto max-h-xl" *ngIf="category_courses != null">

        <div class="justify-between items-center px-8 py-8 mb-5 md:flex bg-gray-50"
          *ngFor="let course of category_courses">
          <div *ngIf="course.id != course.id">
            <div class="flex gap-2 items-center justfy-center">
              <img class="w-32 h-32" src="{{url}}course/image/{{course.id}}" alt="">
              <div class="grid grid-rows-2 gap-5">
                <div>
                  <p class="uppercase">{{course.name}}</p>
                  <p class="font-medium text-md">{{course.description}}</p>
                </div>
                <div>
                  <p class="font-light tex-sm">{{course.category.name}}</p>
                  <p class="text-[#FF0000] font-bold">{{course.price}}€</p>
                </div>
              </div>
            </div>
            <div>
              <a href="/course/{{course.id}}">
                <button
                  class="px-4 py-2 mt-2 text-white bg-red-train-me hover:bg-red-700 rounded text-[20px]">View</button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div></div>
  </div>
  <div
    class="flex justify-center py-3 rounded-sm md:grid-cols-2 bg-gray1-train-me justify-items-center px-2 gap-10 overflow-auto max-h-96"
    *ngIf="loading">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
