<section class="mb-5">
  <div class="px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">

    <section class="">
      <div class="px-8 py-8 mx-auto space-y-2 bg-white sm:py-4 sm:space-y-0 sm:space-x-6">
        <div class="grid grid-cols-2 gap-2 px-5 py-8 border border-gray-300 md:grid-cols-5">
          <div class="">
            <img class="mr-4 h-165 w-165" src="./img/IMAGE (4).png" alt="Foto de perfil">
          </div>

          <div class="">
            <div class="grid items-center h-full grid-rows-2">
              <div class="p-2">
                <h2 class="text-[21px]">Pepe Viyuela</h2>
                <p class="text-[20px]">Descripción del entrenador</p>
              </div>
              <div class="p-2">
                <button
                  class="px-4 py-2 mt-2 text-white bg-red-train-me hover:bg-red-700 rounded text-[20px]">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="">
      <div class="px-8 py-8 mx-auto space-y-2 bg-white sm:py-4 sm:space-y-0 sm:space-x-6">
        <div>
          <h3 class="border border-gray-300  rounded-[5px] py-8 px-5 text-[21px]">Sobre mi</h3>
          <p class="border border-gray-300  rounded-[5px] py-8 px-5">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Etiam congue consectetur nibh in iaculis. Proin nec metus non leo pharetra placerat id at turpis.
            Praesent nec nulla mauris. Suspendisse et urna non dolor aliquet elementum in faucibus eros. Praesent
            egestas tortor dapibus, pulvinar nulla ac, elementum tortor. Mauris interdum ligula nec enim pharetra
            dictum. Aliquam erat volutpat.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="px-8 py-8 mx-auto space-y-2 bg-white sm:py-4 sm:space-y-0 sm:space-x-6 ">
        <div>
          <h3 class="border border-gray-300 rounded-[5px] py-8 px-5 text-[21px]">Cursos</h3>
          <div class="border border-gray-300 rounded-[5px] py-8 px-5 font-bold">

            <div class="justify-between px-8 py-8 mb-5 md:flex bg-gray-50">
              <p>Curso de iniciacion al entreno de fuerza</p>
              <p>Duración: <span class="text-gray-400">3 horas</span> </p>
              <p class="text-[#FF0000]">12.95€</p>
            </div>

            <div class="justify-between px-8 py-8 md:flex bg-gray-50">
              <p>Curso de iniciacion al entreno de fuerza</p>
              <p>Duración: <span class="text-gray-400">3 horas</span> </p>
              <p class="text-[#FF0000]">12.95€</p>
            </div>

            <div class="justify-between px-8 py-8 mt-5 md:flex bg-gray-50">
              <p>Curso de iniciacion al entreno de fuerza</p>
              <p>Duración: <span class="text-gray-400">3 horas</span></p>
              <p class="text-[#FF0000]">12.95€</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="">
      <div class="px-8 py-8 mx-auto space-y-2 bg-white sm:py-4 sm:space-y-0 sm:space-x-6 ">
        <form class="space-y-4 border border-gray-300 rounded-[5px]" action="" method="POST">
          <h3 class="border border-gray-300 rounded-[5px] py-8 px-5 text-[21px]">Comunicate con Pepe Viyuela</h3>

          <div class="px-5 py-8 ">
            <label class="block mb-2 font-bold text-gray-700" for="name">
              Nombre
            </label>
            <input class="w-full py-8 border border-gray-300 rounded-md shadow-sm form-input focus:outline-none"
              id="name" name="name" type="text">
          </div>

          <div class="px-5 py-8 ">
            <label class="block mb-2 font-bold text-gray-700" for="email">
              Correo electrónico
            </label>
            <input class="w-full py-8 border border-gray-300 rounded-md shadow-sm form-input focus:outline-none"
              id="email" name="email" type="email">
          </div>

          <div class="px-5 py-8 ">
            <label class="block mb-2 font-bold text-gray-700" for="asunto">
              Asunto
            </label>
            <input class="w-full py-8 border border-gray-300 rounded-md shadow-sm form-input focus:outline-none"
              id="asunto" name="asunto" rows="4" />
          </div>

          <div class="px-5 py-8 ">
            <label class="block mb-2 font-bold text-gray-700" for="message">
              Mensaje
            </label>
            <textarea class="w-full border border-gray-300 rounded-md shadow-sm form-textarea focus:outline-none"
              id="message" name="message" rows="4"></textarea>
          </div>

          <p class="px-5 py-8 ">
            Acepto los términos y condiciones, la politica de privacidad y el tratamiento de mis datos.
          </p>

          <div class="max-w-screen-lg p-5 mx-auto">
            <button class="w-full px-4 py-2 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-[25.7px]"
              type="submit">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
