<section class="relative bg-center bg-cover bg-about">
  <div class="absolute inset-0 z-0"></div>
  <div class="absolute z-10 w-full h-full bg-black bg-opacity-70"></div>
  <div class="relative z-20 px-4 py-20 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="grid justify-items-center">
      <div class="py-5">
        <h1 class="text-white text-center font-primary text-[64px]">
          Discover TrainMe: Empower Your Fitness Journey
        </h1>
        <br>
        <p class="text-white text-center font-secondary text-[20px]">
          Are you ready to transform your life and achieve your health and fitness goals? Don't miss our
          limited-time promotion to jumpstart your journey with TrainMe!
          <br>
          For a limited time, new members can enjoy a special 30% discount on their first 3 months of
          subscription. Experience the benefits of a tailored workout plan, expert advice from top
          trainers, and access to our wide range of wellness products, all while saving on your investment
          in a healthier future.
        </p>
      </div>
      <br>
      <br>
      <div>
        <a href="/register">
          <button class="bg-red-train-me border-white rounded-[5px] py-3 px-12 border-[2px] text-white">
            Create customer account
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100">
  <div class="px-4 py-10 mx-auto max-w-screen-2xl sm:px-6 lg:px-8 font-secondary">
    <div class="grid items-center gap-5 md:grid-cols-2">
      <div class="p-5 bg-white border rounded-md shadow-md">
        <p>
          <span class="font-semibold">TrainMe is an innovative online platform that connects trainers and
            clients</span>,
          providing a space where
          they can upload and consume health and wellness-related products. Our main goal is to facilitate
          communication between fitness professionals and their clients, offering a comprehensive solution
          to
          meet the growing demand for a healthy lifestyle in our society.
        </p>
        <br>
        <p>
          Our team is comprised of three passionate and talented partners who work tirelessly to bring
          TrainMe
          to the forefront of the market.
        </p>
        <br>
        <p>
          <span class="font-semibold">TrainMe takes pride in offering a unique and accessible
            solution</span> for everyone seeking to take
          their health and wellness to the next level. We strive to be the go-to platform in the world of
          fitness and health, and we will continue to work hard to meet the expectations of our clients
          and partners. <span class="font-semibold">Join us on this exciting journey towards a healthier
            lifestyle!</span>

        </p>
      </div>
      <div class="grid gap-5 text-gray-700">
        <div class="grid items-center w-full gap-2 p-3 bg-white rounded-md shadow-2xl justify-items-center sm:flex">
          <img src="../../../../assets/img/dani.jpg" class="max-w-sm rounded-full max-h-48" alt="">
          <p class="max-w-md">
            <span class="font-semibold">Dani</span>, the <span class="font-semibold">designer</span> and
            member of the <span class="font-semibold">marketing management</span> team, brings a
            creative and
            meticulous vision to the project. Thanks to his design experience and deep knowledge of user
            experience, he has developed a highly functional and user-friendly platform.
          </p>
        </div>
        <div class="grid items-center w-full gap-2 p-3 bg-white rounded-md shadow-2xl justify-items-center sm:flex">
          <img src="../../../../assets/img/pau.jpg" class="max-w-sm rounded-full max-h-48" alt="">
          <p class="max-w-md">
            <span class="font-semibold">Pau</span>, the <span class="font-semibold">Project
              Manager</span>, leads the team with a clear vision and the ability to keep
            everyone focused on the objectives. His primary role is to deal with end clients and ensure
            that the team meets the established goals.
          </p>
        </div>
        <div class="grid items-center w-full gap-2 p-3 bg-white rounded-md shadow-2xl justify-items-center sm:flex">
          <img src="../../../../assets/img/afnan.jpg" class="rounded-full max-w-24 max-h-48" alt="">
          <p class="max-w-md">
            <span class="font-semibold">Afnan</span>, the <span class="font-semibold">Technical
              Director</span> of the project, is responsible for maintaining and managing
            the platform and database. With his extensive technical knowledge, he ensures the stability
            and security of the platform, allowing users to enjoy a seamless experience.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="relative bg-center bg-cover bg-trainer">
  <div class="absolute inset-0 z-0"></div>
  <div class="absolute z-10 bg-black bg-opacity-30"></div>
  <div class="relative z-20 px-4 py-20 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="grid justify-items-center">
      <div>
        <h1 class="text-white text-center font-primary text-[64px]">
          Are you a trainer? Upload your courses here and attract new clients.
        </h1>
        <br>
        <p class="text-white text-center font-secondary text-[20px]">
          Our platform offers a user-friendly
          interface, allowing you to showcase your expertise and connect with potential clients looking
          for personal
          training services. By joining our marketplace, you can grow your client base, expand your reach,
          and
          establish
          yourself as a leading fitness professional in Spain. Sign up now and start sharing your courses
          with fitness
          enthusiasts searching for the perfect training experience.
        </p>
      </div>
      <br>
      <br>
      <div>
        <a href="/register">
          <button class="bg-red-train-me border-white rounded-[5px] py-3 px-12 border-[2px] text-white">
            Create trainer account
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container flex justify-center mx-auto mt-10 mb-10 "> 
  <form [formGroup]="contactForm"  class="w-full max-w-lg p-5 space-y-4 border rounded-sm shadow-xl h-fit md:space-y-6">
    <div class="">
      <h1 class="text-5xl">Customer Support</h1>
      <h3 class="text-3xl">We will solve any doubt!</h3>
    </div>

    <div class="form-floating ">
      <div *ngIf='alert == "green"' class="flex justify-between px-2 py-1 bg-green-200" role="alert">
        <div *ngFor="let message of messages">{{message}}</div>
        <button type="button" class="font-bold" data-bs-dismiss="alert" aria-label="Close"
          (click)="closeAlert()">x</button>
      </div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
      <input type="text" formControlName="name" id="name" name="name" placeholder="Ingresa tu nombre"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required minlength="3" maxlength="10">
    </div>

    <div class="text-sm font-thin text-red-400" *ngIf="contactForm.get('name').touched && contactForm.get('name').hasError('required')">
      The name is required
    </div>

    <div class="">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>

      <input type="email" formControlName="email"  id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Ingresa tu correo electrónico" name="email" required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
    </div>

    <div class="text-sm font-thin text-red-400" *ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('required')">
      The mail is required
    </div>

    <div class="text-sm font-thin text-red-400" *ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('email')">
      The email format is not correct
    </div>
      
    <div class="">
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
      <textarea  formControlName="message" id="message" name="message" maxlength="140" placeholder="escribe"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        rows="3"></textarea>
    </div>

    <div class="text-sm font-thin text-red-400" *ngIf="contactForm.get('message').touched && contactForm.get('message').hasError('required')">
      The message is required
    </div>
    
    <button type="submit" (click)="onSubmit()"  class="w-full px-4 py-2 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-[25.7px]">Send</button>
  </form>
</section>

