<div class="flex justify-center h-full px-4 py-2 mx-auto border-t max-w-screen-2xl sm:px-6 lg:px-8">


  <div class="w-full">
    <h1 class="flex justify-center py-5">
      <span class="text-5xl font-bold text-gray-900 uppercase dark:text-white">Sign Up</span>
    </h1>
    <div class="flex justify-center w-full">
      <form [formGroup]="registerForm" class="w-full max-w-lg p-5 space-y-4 border rounded-sm shadow-xl h-fit md:space-y-6"
        action="#">
        <div *ngIf='alert == "green"' class="flex justify-between px-2 py-1 bg-green-200" role="alert">
          <div *ngFor="let message of messages">{{message}}</div>
          <button type="button" class="font-bold" data-bs-dismiss="alert" aria-label="Close"
            (click)="closeAlert()">x</button>
        </div>
        <div *ngIf='alert == "red"' class="flex justify-between px-2 py-1 bg-red-200" role="alert">
          <div *ngFor="let message of messages">{{message}}</div>
          <button type="button" class="font-bold" data-bs-dismiss="alert" aria-label="Close"
            (click)="closeAlert()">x</button>
        </div>
        <div *ngIf="!loading">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
              <input type="text" formControlName="name" name="name" id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="John" required="">
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('name').touched && registerForm.get('name').hasError('required')">
                <div *ngIf="registerForm.get('name').hasError('required')">
                  Name is required.
                </div>
              </div>
            </div>
            <div>
              <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Surname</label>
              <input type="text" name="lastname" id="lastname" formControlName="surname"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Surname" required="">
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('surname').touched && registerForm.get('surname').hasError('required')">
                <div *ngIf="registerForm.get('surname').hasError('required')">
                  Surname is required.
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
              <input type="email" formControlName="email" name="country" id="country"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="United States" required="">
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('email').touched && (registerForm.get('email').hasError('required') || registerForm.get('email').hasError('email'))">
                <div *ngIf="registerForm.get('email').hasError('required')">
                  Email is required.
                </div>
                <div *ngIf="registerForm.get('email').hasError('email')">
                  Email must be a valid email address.
                </div>
              </div>
            </div>
            <div>
              <label for="user-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User
                Type</label>
              <select name="user-type" id="user-type" formControlName="role"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required>
                <option value="">Select user type</option>
                <option *ngFor="let role of roles" value="{{role.id}}">{{ role.name }}</option>
              </select>
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('role').touched && registerForm.get('role').hasError('required')">
                <div *ngIf="registerForm.get('role').hasError('required')">
                  Role is required.
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required="">
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                <div *ngIf="registerForm.get('password').hasError('required')">
                  Password is required.
                </div>
              </div>
            </div>
            <div>
              <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                password</label>
              <input type="password" formControlName="confirmPassword" name="confirm-password" id="confirm-password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required="">
              <div class="text-sm font-thin text-red-400"
                *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').hasError('required')">
                <div *ngIf="registerForm.get('confirmPassword').hasError('required')">
                  Password confirmation is required.
                </div>
              </div>
            </div>
          </div>
          <div class="w-full my-6">
            <button [disabled]="registerForm.invalid"
              class="w-full px-4 py-2 font-bold text-white rounded bg-red-train-me hover:bg-red-700 text-[25.7px]"
              type="submit" (click)="onRegister()">
              Sign Up
            </button>
          </div>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account? <a href="/login"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login
              here</a>
          </p>
        </div>
        <div
          class="flex justify-center gap-10 px-2 py-3 overflow-auto rounded-sm md:grid-cols-2 bg-gray1-train-me justify-items-center max-h-96"
          *ngIf="loading">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </form>
    </div>

  </div>

</div>
