<section class="bg-gray-100 h-full">
  <div class="max-w-screen-2xl mx-auto py-10 px-4 sm:px-6 lg:px-8 font-secondary" *ngIf="!loading">
    <table class="w-full overflow-hidden rounded-lg table-auto">
      <thead class="text-white bg-red-600">
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Surname</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Role</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr class="hover:bg-gray-300" *ngFor="let user of users">
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">{{user.id}}</td>
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">{{user.name}}</td>
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">{{user.surname}}</td>
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">{{user.email}}</td>
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">{{user.role.name}}</td>
          <td *ngIf="user.id != loged_user.id" class="px-4 bg-white py-2">
            <button class="px-2 font-bold text-white bg-yellow-500 rounded hover:bg-yellow-700"> <a
                href="/admin/user/update/{{user.id}}">Edit</a> </button>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="flex justify-center py-3 rounded-sm md:grid-cols-2 bg-gray1-train-me justify-items-center px-2 gap-10 overflow-auto max-h-96"
    *ngIf="loading">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</section>
