<section class="pb-5 bg-gray-200" *ngIf="category != null">
  <div class="px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">

    <div *ngIf="!loading">
      <section class="">
        <div class="px-8 py-8 mx-auto space-y-2 sm:py-4 sm:space-y-0 sm:space-x-6">
          <div class="grid grid-cols-2 gap-2 px-5 py-8 border bg-black-train-me border-gray-300 md:grid-cols-5">
            <div class="">
              <img class="mr-4 h-165 w-165" src="{{url}}category/image/{{category.id}}" alt="Foto de perfil">
            </div>

            <div class="text-white">
              <div class="grid items-center h-full grid-rows-2">
                <div class="p-2">
                  <h2 class="text-[21px]">{{category.name}}</h2>
                  {{category.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="px-8 py-8 mx-auto space-y-2 sm:py-4 sm:space-y-0 sm:space-x-6 ">
          <div class="py-8 px-5 border bg-white border-gray-300 rounded-[5px]">
            <h3 class="text-[21px] border-b">Cursos <span class="font-extralight text-sm">{{count_courses}}</span></h3>
            <div class="pt-4 font-bold overflow-auto max-h-xl" *ngIf="courses != null">

              <div class="justify-between items-center px-8 py-8 mb-5 md:flex bg-gray-50"
                *ngFor="let course of courses">
                <div class="flex gap-2 items-center justfy-center">
                  <img class="w-32 h-32" src="{{url}}course/image/{{course.id}}" alt="">
                  <div class="grid grid-rows-2 gap-5">
                    <div>
                      <p class="uppercase">{{course.name}}</p>
                      <p class="font-medium text-md">{{course.description}}</p>
                    </div>
                    <div>
                      <p class="font-light tex-sm">{{course.category.name}}</p>
                      <p class="text-[#FF0000] font-bold">{{course.price}}€</p>
                    </div>
                  </div>
                </div>
                <div>
                  <a href="/course/{{course.id}}">
                    <button
                      class="px-4 py-2 mt-2 text-white bg-red-train-me hover:bg-red-700 rounded text-[20px]">View</button>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>
    </div>

    <div *ngIf="loading" class="flex justify-center">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

  </div>
</section>
