<nav class="bg-white-train-me">
  <div class="max-w-screen-2xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div><a href="/">
          <img src="../../../../assets/img/logo.png" alt="" class="-mb-5 md:-ml-0 -ml-8" />
        </a></div>

      <div class="hidden xl:flex font-secondary gap-10 items-center text-[19px]">
        <div>
          <a href="/courses/search"
            class="text-black hover:text-black hover:no-underline border-b-2 border-transparent border hover:border-b-[#FF0000]">
            Courses
          </a>
        </div>
        <div>
          <a href="/trainers/search"
            class="text-black hover:text-black hover:no-underline border-b-2 border-transparent border hover:border-b-[#FF0000]">
            Trainers
          </a>
        </div>
        <div>
          <a href="/categories/search"
            class="text-black hover:text-black hover:no-underline border-b-2 border-transparent border hover:border-b-[#FF0000]">
            Categories
          </a>
        </div>
        <div>
          <a href="/about"
            class="text-black hover:text-black hover:no-underline border-b-2 border-transparent border hover:border-b-[#FF0000]">
            About
          </a>
        </div>
        <div *ngIf="user == null">
          <a href="/register">
            <button class="py-[13px] px-[48px] bg-red-train-me text-white rounded-[35px] hover:bg-white hover:text-black border-[2px] border-transparent hover:border-[#FF0000]">Sign Up</button>
          </a>
        </div>
        <div *ngIf="user == null">
          <a href="/login">
            <button class="py-[11px] px-[48px] border-[#FF0000] border-[2px] rounded-[35px] hover:bg-[#FF0000] hover:text-white">Sign
              In</button>
          </a>
        </div>
        <div *ngIf="user != null" >
          <a href="/profile">
            <img src="{{url}}user/image/{{user.id}}" class="w-10 w-10 rounded-full border-black border-2 hover:border-5 hover:border-red-600" alt="">
          </a>
        </div>
      </div>
      <div class="xl:hidden" (click)="toggleMenu()">
        <img src="../../../../assets/img/menu-icon.png" alt="">
      </div>


    </div>
    <div *ngIf="menuVisible" class="grid justify-center xl:hidden">
      <div>
        <a href="/courses/search"
          class="text-black hover:text-black hover:no-underline border-b-3 border-b-transparent hover:border-b-[#FF0000]">
          Courses
        </a>
      </div>
      <div>
        <a href="/trainers/search"
          class="text-black hover:text-black hover:no-underline border-b-3 border-b-transparent hover:border-b-[#FF0000]">
          Trainers
        </a>
      </div>
      <div>
        <a href="/categories/search"
          class="text-black hover:text-black hover:no-underline border-b-3 border-b-transparent hover:border-b-[#FF0000]">
          Categories
        </a>
      </div>
      <div>
        <a href="/about"
          class="text-black hover:text-black hover:no-underline border-b-3 border-b-transparent hover:border-b-[#FF0000]">
          About
        </a>
      </div>
      <div *ngIf="user == null">
        <a href="/register">
          <button class="py-1 px-2 bg-red-train-me text-white rounded-[35px]">Sign Up</button>
        </a>
      </div>
      <div *ngIf="user == null">
        <a href="/login">
          <button class="py-1 mt-2 px-2 border-[#FF0000] border-[2px] rounded-[35px]">Sign
            In</button>
        </a>
      </div>
    </div>
  </div>
</nav>
